body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.stopwatch {
    margin: 100px auto;
    width: 200px;
}

.time {
    font-size: 36px;
    margin-bottom: 10px;
}

button {
    font-size: 18px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
